// .header {
//   background-color: #fff;
//   border-bottom: var(--line);
//   height: 7rem;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   font-size: 1.4rem;

//   @media screen and (max-width: $bp-small) {
//     flex-wrap: wrap;
//     height: 11rem;
//     align-content: space-around;
//   }
// }

// .content {
//   display: flex;

//   @media screen and (max-width: $bp-medium) {
//     flex-direction: column;
//   }
// }

// .side-bar {
//   background-color: var(--color-grey-dark-1);
//   flex: 0 1 18%;
//   display: flex;
//   flex-direction: column;
// }

// .hotel-view {
//   background-color: #fff;
//   flex: 1;
// }

// .details {
//   font-size: 1.4rem;
//   background-color: var(--color-grey-light-1);
//   display: flex;
//   gap: 4.5rem;
//   padding: 4.5rem;
//   border-bottom: var(--line);

//   @media screen and (max-width: $bp-medium) {
//     padding: 3rem;
//     gap: 3rem;
//   }

//   @media screen and (max-width: $bp-small) {
//     flex-direction: column;
//   }
// }

// .description {
//   padding: 3rem;
//   flex: 1;
//   box-shadow: var(--shadow-light);

//   @media screen and (max-width: $bp-medium) {
//     padding: 2rem;
//   }
// }

// .user-review {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   flex: 0 0 40%;

//   @media screen and (max-width: $bp-small) {
//     gap: 3rem;
//   }
// }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-grey-light-2);
  min-height: 50rem;

  @media screen and (max-width: 75em) {
    margin: 0;
    width: 100%;
  }
}

.header {
  height: 7rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--line);

  @media screen and (max-width: 31.25em) {
    flex-wrap: wrap;
    height: 11rem;
  }
}

.content {
  display: flex;

  @media screen and (max-width: 56.25em) {
    flex-direction: column;
  }
}

.side-bar {
  padding: 3.5rem 0;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey-dark-1);

  @media screen and (max-width: 56.25em) {
    padding: 0;
  }
}

.hotel__view {
  flex: 1;
  min-height: 50rem;
}

.overview {
  height: 6.6rem;
  border-bottom: var(--line);
  display: flex;
  align-items: center;
  gap: 3.5rem;
  background-color: #fff;
  font-size: 1.2rem;

  @media screen and (max-width: $bp-small) {
    height: 6rem;
    gap: 1rem;
  }

  @media screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    height: 8rem;
    gap: 0;
  }
}

.details {
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  display: flex;
  gap: 4.5rem;

  @media screen and (max-width: 56.25em) {
    padding: 3rem;
    gap: 3rem;
  }

  @media screen and (max-width: 37.5em) {
    flex-direction: column;
  }
}

.feature {
  flex: 0 0 60%;
}

.testimonial {
  padding-right: 4rem;
  flex: 0 0 40%;

  @media screen and (max-width: 37.5em) {
    padding: 0;
  }
}
.feature,
.testimonial__box {
  background-color: #fff;
  padding: 3rem;
  box-shadow: var(--shadow-light);

  @media screen and (max-width: 56.25em) {
    padding: 2rem;
  }
}
.testimonial__box {
  margin-bottom: 3.5rem;
  position: relative;

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
  }
}
