@charset "UTF-8";
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media screen and (max-width: 68.75em) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-grey-light-2);
  min-height: 50rem;
}
@media screen and (max-width: 75em) {
  .container {
    margin: 0;
    width: 100%;
  }
}

.header {
  height: 7rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--line);
}
@media screen and (max-width: 31.25em) {
  .header {
    flex-wrap: wrap;
    height: 11rem;
  }
}

.content {
  display: flex;
}
@media screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

.side-bar {
  padding: 3.5rem 0;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey-dark-1);
}
@media screen and (max-width: 56.25em) {
  .side-bar {
    padding: 0;
  }
}

.hotel__view {
  flex: 1;
  min-height: 50rem;
}

.overview {
  height: 6.6rem;
  border-bottom: var(--line);
  display: flex;
  align-items: center;
  gap: 3.5rem;
  background-color: #fff;
  font-size: 1.2rem;
}
@media screen and (max-width: 37.5em) {
  .overview {
    height: 6rem;
    gap: 1rem;
  }
}
@media screen and (max-width: 25.625em) {
  .overview {
    flex-wrap: wrap;
    height: 8rem;
    gap: 0;
  }
}

.details {
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  display: flex;
  gap: 4.5rem;
}
@media screen and (max-width: 56.25em) {
  .details {
    padding: 3rem;
    gap: 3rem;
  }
}
@media screen and (max-width: 37.5em) {
  .details {
    flex-direction: column;
  }
}

.feature {
  flex: 0 0 60%;
}

.testimonial {
  padding-right: 4rem;
  flex: 0 0 40%;
}
@media screen and (max-width: 37.5em) {
  .testimonial {
    padding: 0;
  }
}

.feature,
.testimonial__box {
  background-color: #fff;
  padding: 3rem;
  box-shadow: var(--shadow-light);
}
@media screen and (max-width: 56.25em) {
  .feature,
  .testimonial__box {
    padding: 2rem;
  }
}

.testimonial__box {
  margin-bottom: 3.5rem;
  position: relative;
}
.testimonial__box::before {
  content: "“";
  position: absolute;
  top: -2.75rem;
  left: -1rem;
  line-height: 1;
  font-size: 20rem;
  color: var(--color-grey-light-2);
  font-family: sans-serif;
  z-index: 1;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 31.25em) {
  .search {
    order: 1;
    flex: 0 0 100%;
    justify-content: center;
  }
}
.search__input {
  border: none;
  background-color: var(--color-grey-light-2);
  border-radius: 15px;
  padding: 0.7rem 2rem;
  width: 90%;
  font-size: 1.4rem;
  color: var(--color-grey-dark-2);
  font-weight: inherit;
  transition: all 0.3s;
}
.search__input::-moz-placeholder {
  color: var(--color-grey-light-4);
}
.search__input::placeholder {
  color: var(--color-grey-light-4);
}
.search__input:focus-visible {
  outline: none;
  width: 100%;
}
.search__button {
  border: none;
  background-color: transparent;
}
.search__icon {
  fill: var(--color-grey-dark-3);
  width: 2rem;
  height: 2rem;
  transform: translateX(-3rem);
}

.gallery {
  display: flex;
}

.gallery__img {
  display: block;
  width: 100%;
}

.user__nav {
  display: flex;
  height: 100%;
}
@media screen and (max-width: 31.25em) {
  .user__nav {
    height: -moz-min-content;
    height: min-content;
    align-items: center;
  }
}

.user__nav-icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: var(--color-grey-dark-2);
}

.user__nav-box {
  font-size: 1.4rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
  height: 100%;
  padding: 0 2rem;
  position: relative;
  cursor: pointer;
}
.user__nav-box:hover {
  background-color: var(--color-grey-light-2);
}

.user__nav-notification {
  font-size: 0.8rem;
  color: var(--color-grey-light-3);
  background-color: var(--color-primary);
  border-radius: 100%;
  height: 1.75rem;
  width: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.user__img-box {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-image: url(/Trillo/starter/img/user-1.jpg);
  background-size: cover;
  background-position: center;
}

.user__img {
  width: 100%;
}

.heading-primary {
  color: var(--color-grey-dark-2);
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 3rem;
}
@media screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 37.5em) {
  .heading-primary {
    margin-left: 1.5rem;
  }
}

.stars {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 25.625em) {
  .stars {
    flex: 0 0 100%;
    justify-content: center;
    order: 1;
  }
}

.stars__icon,
.location__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary-light);
}

.location {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.5rem;
}
@media screen and (max-width: 25.625em) {
  .location {
    margin-right: 1rem;
  }
}

.rating {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2.25rem;
  background-color: var(--color-primary);
}
@media only screen and (max-width: 37.5em) {
  .rating {
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 25.625em) {
  .rating {
    height: -moz-min-content;
    height: min-content;
  }
}
.rating__number {
  font-size: 2.25rem;
  font-weight: 300;
}
.rating__vote {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.feature__text:not(:last-child) {
  margin-bottom: 2rem;
}

.feature__list {
  padding: 3rem 0;
  margin: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.feature__item:not(:last-child) {
  margin-bottom: 1rem;
}
.feature__item::before {
  content: "";
  height: 1rem;
  width: 1rem;
  margin-right: 0.7rem;
  background-image: url(../img/chevron-thin-right.svg);
  background-size: cover;
  background-color: var(--color-primary);
  -webkit-mask-image: url(../img/chevron-thin-right.svg);
  -webkit-mask-size: cover;
  background-image: none;
}

.recommend {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recommend__text {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
}
.recommend__pictures {
  display: flex;
}
.recommend__img-box:not(:first-child) {
  border: 3px solid #fff;
}
.recommend__img-box:not(:last-child) {
  margin-right: -1.5rem;
}

.recommend__img-box {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.recommend__img,
.author__img {
  width: 100%;
}

.author {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.author__box {
  margin-right: auto;
}
.author__name {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.author__date {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--color-grey-dark-3);
}
.author__rating {
  font-size: 2.25rem;
  color: var(--color-primary);
  font-weight: 300;
}

.author__img-box {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.link:link,
.link:visited {
  text-decoration: none;
  font-size: inherit;
  color: var(--color-primary-light);
  border-bottom: 1px solid var(--color-primary);
}
.link:link span,
.link:visited span {
  transition: all 0.3s;
}

.link-box {
  text-align: center;
}

.link:hover,
.link:active {
  color: var(--color-grey-dark-1);
}
.link:hover span,
.link:active span {
  margin-left: 6px;
}

.active {
  background-color: var(--color-primary);
}

@media screen and (max-width: 56.25em) {
  .navigation {
    display: flex;
    height: 6rem;
  }
}
@media screen and (max-width: 37.5em) {
  .navigation {
    height: 7rem;
  }
}
.navigation__items {
  height: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 37.5em) {
  .navigation__items {
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
  }
}
.navigation__items:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 56.25em) {
  .navigation__items {
    flex: 1;
    justify-content: center;
    height: 100%;
  }
}
.navigation__icon {
  margin-left: 2.5rem;
  fill: #fff;
  width: 1.7rem;
  height: 1.7rem;
}
@media screen and (max-width: 37.5em) {
  .navigation__icon {
    margin-left: 0;
  }
}
.navigation__text {
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.copyright {
  text-align: center;
  font-size: 1.2rem;
  margin-top: auto;
  padding: 0 2rem;
  color: var(--color-grey-light-4);
}
@media screen and (max-width: 56.25em) {
  .copyright {
    display: none;
  }
}

.testimonial__text {
  position: relative;
  z-index: 10;
}

.cta {
  background-color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.cta__book-now {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 5.7rem;
  width: 23.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
}
.btn:hover .btn__invisible {
  transform: translate(-50%, -50%);
  width: 100%;
}
.btn:hover .btn__visible {
  transform: translateY(5rem);
}

.btn__invisible {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10rem);
  width: 100%;
  transition: all 0.2s;
}

.btn__visible {
  transition: all 0.2s;
}

.u-flex-center {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */